@import "variables";
@import "mediaqueries";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

select,
input,
option,
textarea {
    font-family: $ops-reg;
    font-size: 14px;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    color: $cblack;
    background-color: #E4E4E4 !important;
    font-family:$ops-reg;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote,
q {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.button {
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    background: $cblue;
    font-family: $ops-reg;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    border: none;
    color: $cwhite;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

/*reset inputs*/

input,
select,
button {
    -webkit-tap-highlight-color: transparent;
    &:focus {
        outline: none;
    }
}

// input[type="text"],
// input[type="email"] {
//     color: $cblack;
//     font-family: $ops-reg;
//     font-weight: 400;
//     font-style: normal;
//     font-size: 14px;
//     border: none;
//     width: 100%;
//     background: $cwhite;
//     padding: 23px 0;
//     letter-spacing: 0.5px;
//     &:focus {
//         outline: none;
//     }
//     &::placeholder {
//         color: $cblack;
//         // color: rgba(26, 26, 29, 0.5);
//         text-transform: uppercase;
//         letter-spacing: 0.5px;
//         opacity: 0.5;
//     }
//     &:-ms-input-placeholder {
//         color: $cblack;
//         // color: rgba(26, 26, 29, 0.5);
//         text-transform: uppercase;
//         letter-spacing: 0.5px;
//         opacity: 0.5;
//     }
//     &::-ms-input-placeholder {
//         color: $cblack;
//         // color: rgba(26, 26, 29, 0.5);
//         text-transform: uppercase;
//         letter-spacing: 0.5px;
//         opacity: 0.5;
//     }
// }

textarea {
    resize: none;
    color: $cblack;
    font-family:$ops-reg;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    border: none;
    width: 100%;
    background: #fff;
    padding: 23px 0;
    border-bottom: 1px solid rgba(15, 45, 82, 0.3); // height: 200px;
    // border-radius: 3px;
    letter-spacing: 1px; // height: 62px;
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: $cblack;
        font-family: rgba(26, 26, 29, 0.5);
        text-transform: uppercase;
        letter-spacing: 0.5px;
        opacity: 0.5;
    }
    &:-ms-input-placeholder {
        color: $cblack;
        font-family: rgba(26, 26, 29, 0.5);
        text-transform: uppercase;
        letter-spacing: 0.5px;
        opacity: 0.5;
    }
    &::-ms-input-placeholder {
        color: $cblack;
        font-family: rgba(26, 26, 29, 0.5);
        text-transform: uppercase;
        letter-spacing: 0.5px;
        opacity: 0.5;
    }
}

.error {
    display: none;
    color: #ff0000;
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

a {
    color: $cblue;
    text-decoration: none;
    font-family: $ops-reg;
    &:focus,
    &:hover {
        outline: none;
        text-decoration: none;
    }
    img {
        border: none;
        outline: none;
    }
    @at-root .montserrat-thin & {
        font-family: $ops-reg;
        font-weight: inherit;
    }
}

img {
    display: block;
    max-width: 100%;
}

input[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

select {
    appearance: none;
}

select::-ms-expand {
    display: none;
}