footer
    .edge__footer
        .edge__navlinks-section
            .edge__navlinks-block
                .edge__navlinks
                    ul
                        li
                            a(href="") OTHER LINKS
                        li
                            a(href="") BLOG
                        li
                            a(href="") TESTIMONIALS
                        li
                            a(href="") ABOUT
                        li
                            a(href="") FIND A DEALER
                        li
                            a(href="") CAREERS
                    ul
                        li
                            a(href="") CONTACT
                        li
                            a(href="") CONTACT
                        li
                            a(href="") FAQ’S
                        li
                            a(href="") RESOURCES
                        li
                            a(href="") EMAIL US
                    ul
                        li
                            a(href="")   LEGAL
                        li
                            a(href="") WARRANTY
                        li
                            a(href="") TERMS & CONDITIONS
                        li
                            a(href="")  SHIPPING & RETURNS 
                        li
                            a(href="")  PRIVACY POLICY
                .edge__footer-social-icons-section
                    p CONNECT WITH US
                    ul
                        li
                            a.facebook(href="")
                               
                        li
                            a.facebook(href="")
                               
                        li
                            a.facebook(href="")
                               
                        li
                            a.facebook(href="")
                        li
                            a.facebook(href="")
                               
            .edge__footer-photo-block
                p EDGEFX KITS BENEFITS
                img(src="assets/images/video-logo.png", alt="")
        .edge__footer-patners-block
            a.cash(href="")
            a.dealivery(href="")
            a.cash(href="")
            a.cash(href="")
            a.cash(href="")
        .edge__footer-final-section
            .edge__footer-final-img
                .edge__footer-img-wappre-section
                    .edge__footer-img-block
                        .edge__footer-img-wapper
                            img(src="assets/images/godadd.png", alt="")
                        .edge__footer-img-wapper
                            img(src="assets/images/cc.png", alt="")
                    .edge__footer-img-wapper
                        img(src="assets/images/crisil.png", alt="")
            .footer-sign-up-block
                .edge__footer-sign-up-text SIGN UP FOR NEWSLETTER
                .email-section
                    input(type="email", name="" placeholder="Email Address")
                .edge__submit-button
                    button(type="submit") SUBMIT
            .edge__footer-fedback
                .edge__footer-block-text
                .edge__chat-text-block
        .edge__footer-address-section
            p Edgefx Technologies Pvt. Ltd. 105, Liberty Plaza, Himayatnagar Hyderabad, Andhra Pradesh, India - 500029
            p © 2012 Edgefx Technologies Pvt Ltd. All Rights Reserved
        .edge__top-left
            img(src="assets/images/block-diagram.png", alt="")
        .edge__bottom-left
            img(src="assets/images/edge__top-left.png", alt="")
        .edge__bottom-right
            img(src="assets/images/edge__top-left.png", alt="")            