
.edge__pofile-cards-section.padding-lr
    .edge__profile-block
        .edge__profile-photo-wapper
            img(src="assets/images/cc.png", alt="")
        .edge__profile-content
            .edge__profile-info
                h1 Cash on Delivery
            p ILorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et adipiscing diam. 
    .edge__profile-block
        .edge__profile-photo-wapper
            img(src="assets/images/cc.png", alt="")
        .edge__profile-content
            .edge__profile-info
                h1 Free Shipping
            p ILorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et adipiscing diam. 
    .edge__profile-block
        .edge__profile-photo-wapper
            img(src="assets/images/cc.png", alt="")
        .edge__profile-content
            .edge__profile-info
                h1 100% Output guaranteed
            p ILorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et adipiscing diam. 
    .edge__profile-block
        .edge__profile-photo-wapper
            img(src="assets/images/cc.png", alt="")
        .edge__profile-content
            .edge__profile-info
                h1 100% Money back guaranteed
            p ILorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et adipiscing diam. 
    .edge__profile-block
        .edge__profile-photo-wapper
            img(src="assets/images/cc.png", alt="")
        .edge__profile-content
            .edge__profile-info
                h1 1200 +Happy Customers
            p ILorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et adipiscing diam. 
    .edge__profile-block
        .edge__profile-photo-wapper
            img(src="assets/images/cc.png", alt="")
        .edge__profile-content
            .edge__profile-info
                h1 Everything in the kit
            p ILorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et adipiscing diam. 