
.edge__pofile-cards-section.padding-lr
    .edge__profile-block
        .edge__profile-photo-wapper
            img(src="assets/images/cc.png", alt="")
        .edge__profile-content
            .edge__profile-info
                h1 Cash on Delivery
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aperiam eaque
    .edge__profile-block
        .edge__profile-photo-wapper
            img(src="assets/images/cc.png", alt="")
        .edge__profile-content
            .edge__profile-info
                h1 Free Shipping
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aperiam eaque
    .edge__profile-block
        .edge__profile-photo-wapper
            img(src="assets/images/cc.png", alt="")
        .edge__profile-content
            .edge__profile-info
                h1 100% Output guaranteed
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aperiam eaque
    .edge__profile-block
        .edge__profile-photo-wapper
            img(src="assets/images/cc.png", alt="")
        .edge__profile-content
            .edge__profile-info
                h1 100% Money back guaranteed
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aperiam eaque
    .edge__profile-block
        .edge__profile-photo-wapper
            img(src="assets/images/cc.png", alt="")
        .edge__profile-content
            .edge__profile-info
                h1 1200 +Happy Customers
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aperiam eaque
    .edge__profile-block
        .edge__profile-photo-wapper
            img(src="assets/images/cc.png", alt="")
        .edge__profile-content
            .edge__profile-info
                h1 Everything in the kit
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aperiam eaque