.edge__pattners-section 
    .edge__pattners-block
        .edge__img-block
            .edge__imgs-wrapper-block
                .edge__img-wapper
                     img(src="assets/images/godadd.png", alt="", srcset="")
                .edge__img-wapper        
                   img(src="assets/images/cc.png", alt="", srcset="")
            .edge__img-wapper
                img(src="assets/images/crisil.png", alt="", srcset="")
        .edge__patterns-text
            p Edgefx Technologies Pvt. Ltd. 105, Liberty Plaza, Himayatnagar Hyderabad, Andhra Pradesh, India - 500029
        .privacy Privacy Policy  |  Shipping Policy


