
.edge__users.padding-lr
    .edge__user-heading
        h1 WE LOVE OUR CUSTOMERS. READ WHAT THEY SAY ABOUT US 
        img(src="assets/images/user-header-icon.svg", alt="user heder")
    .edge__pofile-cards-section
        .edge__profile-block
            .edge__profile-photo-wapper
                img(src="assets/images/reveiw_1.png", alt="")
            .edge__profile-content
                .edge__profile-info
                    h1 Eric Akwasi Parker, <b>rated</b>
                    p    on 1st August, 2013 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aperiam eaque
        .edge__profile-block
            .edge__profile-photo-wapper
                img(src="assets/images/reveiw_2.png", alt="")
            .edge__profile-content
                .edge__profile-info
                    h1 Eric Akwasi Parker, <b>rated</b>
                    p    on 1st August, 2013 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aperiam eaque
        .edge__profile-block
            .edge__profile-photo-wapper
                img(src="assets/images/reveiw_3.png", alt="")
            .edge__profile-content
                .edge__profile-info
                    h1 Eric Akwasi Parker, <b>rated</b>
                    p    on 1st August, 2013 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aperiam eaque
