.edge__banner-block.padding-lr
    .edge__banner-left-text
        p We build Electronic & Electrical Project Kits for Engineering Students
    .edge__banner-inputs
        .edge__banner-sub-text Find a project that suits your need
        .edge__branch-and-year
            .icon
            <select>
                <option value="Your Engineering/Diploma branch">Your Engineering/Diploma branch</option>
                <option value="Your Engineering/Diploma branch">Your Engineering/Diploma branch</option>
                <option value="Your Engineering/Diploma branch">Your Engineering/Diploma branch</option>
                <option value="Your Engineering/Diploma branch">Your Engineering/Diploma branch</option>
            </select>
            <select>
                <option value="2019">2019</option>
            </select>
        .edge__banner-project
            .icon
            <select>
                <option value="Your Engineering/Diploma branch">Your Engineering/Diploma branch</option>
                <option value="Your Engineering/Diploma branch">Your Engineering/Diploma branch</option>
                <option value="Your Engineering/Diploma branch">Your Engineering/Diploma branch</option>
                <option value="Your Engineering/Diploma branch">Your Engineering/Diploma branch</option>
            </select>
        .edge__price
            .icon
            <select>
                <option value="Your Engineering/Diploma branch">Your Engineering/Diploma branch</option>
                <option value="Your Engineering/Diploma branch">Your Engineering/Diploma branch</option>
                <option value="Your Engineering/Diploma branch">Your Engineering/Diploma branch</option>
                <option value="Your Engineering/Diploma branch">Your Engineering/Diploma branch</option>
            </select>        
        .edge__project-text Find Projects
        .edge__contact-us Not Sure? Chat with us
            
