.edge__header
    .edge__header-block
        .edge__header-limit.padding-lr
            .edge__header-left
                a.edge__header-img-wapper
                    img(src="assets/images/logo.png", alt="")
            .edge__header-right
                a(href="").phone-number-block
                    img(src="assets/images/call.svg", alt="cell")
                    p Toll Free 1-800-108-7475
    include _edge-banner-block