.edge__video-section.padding-lr
    .edge__video-block
        .edge__video
            img(src="assets/images/edge-video-logo.png", alt="edge video link")
    .edge__video-profile
        .edge__profile-text-block
            .edge__profie-text We build our products with great dedication and attention to meet your                          expectations
            .edge__profile-name 
                .name Kamini Gupta
                p CEO & Strategist     
        .edge__profile-photo
            img(src="assets/images/sravan.jpg", alt="")

