doctype html
html(lang='en')
	head
		// Global site tag (gtag.js) - Google Analytics
		meta(charset='ISO-8859-1')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		meta(name='desctiption', content='')
		meta(name='author', content='Participates Connect')
		link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
		script(src='https://code.jquery.com/jquery-1.12.4.js')
		script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
		link(href='assets/css/edge.css', rel='stylesheet')
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		script(src='assets/js/jquery.min.js')
		block head
	body
		script(src='assets/js/svg.js')
		//- script(src='assets/js/datapicker.js')
		block main
