extends templates/_layout
block head
	title Home
block main
	include templates/_edge_header
	// main-container start
	.main-container
		include templates/_edge-video
		include templates/_edge-aboutus-profile
		include templates/_edge-users
		include templates/_edge-patners
		.white-space
		include templates/_edge-footer


